@font-face {
    font-family: "Open Sans";
    src: url(../fonts/opensans/OpenSans-VariableFont_wdth\,wght.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --txt-color: #212121;
    --second-color: #09A494;
    --bg-color: #FFFFFF;
    --error-color: #ff3333;
}

a {display: inline-block}
img {display: block}

body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    color: var(--txt-color);
    background-color: var(--bg-color);
}

.dark-theme {
    --txt-color: #CCCCCC;
    --bg-color: #031923;
}

h1 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: 0;
}

h2 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0;
    margin: 0;
    margin-bottom: 40px;
}

h3 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0;
}

button,
a {
    font-family: Open Sans;
    line-height: 1;
    letter-spacing: 0;
    transition: color 0.45s, background-color 0.45s;
}

button {
    padding: 6px 10px 10px 10px;
    border: 1px solid var(--second-color);
    border-radius: 8px;
    color: var(--second-color);
    background-color: var(--bg-color);
    background-color: transparent;
    cursor: pointer;

}

button:hover {
    background-color: var(--second-color);
    color: var(--bg-color);
}

p {
    margin: 0;
}

p + p {
    margin-top: 15px;
}

section {
    margin: 0;
    margin-bottom: 120px;
}

.main-header {
    display: flex;
    padding-top: 60px;
    gap: 40px;
    align-items: center;
    margin: 0;
    margin-bottom: 120px;
}

.main-header-wrap {
    display: flex;
    transition: filter 0.3s ease;
}

body.dark-theme .main-header-wrap img {
    filter: brightness(0) invert(1);
}

.main-footer {
    color: var(--bg-color);
    background-color: var(--txt-color);
}

.subtitle {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.2;
    letter-spacing: 0;
    color: var(--second-color);
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-nav {
    display: flex;
}

.main-nav a {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--txt-color);
}

.main-nav a:hover {
    color: var(--second-color);
}

.me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.me h1 {
    margin: 0;
    margin-bottom: 20px;
}

.subtitle {
    margin: 0;
}

.my-photo {
    border-radius: 50%;
}

.text-wrapper {
    max-width: 800px;
}

.skill-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 40px;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-header h2 {
    margin-bottom: 0px;
}

.skill-header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}

.skill-level {
    margin: 4px 0 20px;
    padding: 1px;
    font-size: 0;
    border: 1px solid var(--txt-color);
    border-radius: 16px;
}

.skill-level div {
    height: 14px;
    background-color: var(--second-color);
    border-radius: 8px;
}

.skill-item {
    transform: lowercase;
}

.social-list,
.contact-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-list {
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 40px;
}

.social-list {
    justify-content: flex-start;
    gap: 20px;
}

.social-list li,
.contact-list li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.switch {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 34px;
}
.switch-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
}
.switch-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #CCCCCC;
    cursor: pointer;
    transition: 0.4s;
}
.switch-slider:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    margin: auto 0;
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    background-color: #FFFFFF;
    background-image: url('../img/dark-theme/sun.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    transition: 0.4s;
}
.switch-checkbox:checked + .switch-slider:before {
    transform: translateX(24px);
    background-color: #FFFFFF;
    background-image: url('../img/dark-theme/moon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

.social-link {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--second-color);
    border-radius: 50%;
    padding: 10px;
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-position: center;
}

.social-link:hover{
    background-color: var(--second-color);
}

.dark-theme .social-link {
    background-color: #CCCCCC;
}

.github {
    background-image: url(../img/social=github.svg);
}

.gitlab {
    background-image: url(../img/social=gitlab.svg);
}

.x {
    background-image: url(../img/X.svg);
}

.telegram {
    background-image: url(../img/social=telegram.svg);
}

.vk {
    background-image: url(../img/social=vk.svg);
}

.contact-link {
    display: block;
    text-decoration: none;
    padding: 5px 0px 5px 42px;
    color: var(--txt-color);
    background-repeat: no-repeat;
}

.contact-link:hover {
    color: var(--second-color)
}

.email {
    background-image: url("../img/icon=emailBlack.svg");
}

.phone {
    background-image: url("../img/icon=phoneBlack.svg");
}

.dark-theme .email {
    background-image: url("../img/dark-theme/icon=email.svg");
}

.dark-theme .phone {
    background-image: url("../img/dark-theme/icon=phone.svg");
}

.main-footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.dark-theme .main-footer {
    background-color: #09A494;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.nav-btn {
    display: block;
    width: 30px;
    height: 30px;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none;
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 0 !important;
}

.skill-error {
    color: var(--error-color);
    
}

@media screen and (min-width: 1025px) {
    .nav-btn {
        display: none !important;
    }
}

@media screen and (max-width: 1024px) {

    body{
        font-size: 16px;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    section{
        margin-bottom: 80px;
    }

    .main-header{
        margin-bottom: 80px;
    }

    .subtitle {
        font-size: 28px;
    }

    .me img{
        width: 250px;
        height: 250px;
    }

    .skill-header h2 {
        align-self: center;
    }

    .skill-list dt {
        padding: 7px 0 7px 38px;
    }

    .contact-link {
        padding: 7px 0px 7px 42px;
    }

}

@media screen and (max-width: 650px) {
    
    body{
        font-size: 14px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 16px;
    }
  
    section{
        margin-bottom: 50px;
    }

    .main-header img {
        width: 40px;
        height: 40px;
    }

    .main-header{
        flex-direction: column;
        padding-top: 20px;
        gap: 20px;
        margin-bottom: 50px;
    }

    .main-nav {
        flex-direction: column;
        text-align: center;
    }

    .main-nav_closed{
        display: none;
    }

    .main-nav a{
        padding: 20px 30px;
    }

    .nav-btn {
        display: block;
        width: 30px;
        height: 30px;
        border: 0;
        padding: 0;
        outline: none;
    }

    .nav-btn:hover {
        background-color: transparent !important;
        transform: none !important;
    }

    .nav-btn_close {
        background-image: url('../img/btn=close.svg');
    }

    .nav-btn_open {
        background-image: url('../img/btn=burger.svg');
    }

    .main-header-wrap{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .subtitle {
        font-size: 20px;
    }

    .me{
        flex-direction: column-reverse;
        gap: 30px;
    }

    .me h1{
        margin-bottom: 10px;
    }

    .me img{
        width: 150px;
        height: 150px;
    }

    .me div{
        text-align: center;
    }

    .skill-header{
        margin-bottom: 30px;
    }

    .skill-list dt {
        padding: 8px 0 8px 38px;
    }

    .contact-list {
        margin-bottom: 20px;
    }

    .contact-link {
        padding: 8px 0px 8px 42px;
    }

    .social-list{
        gap: 15px;
    }

    .main-footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

}

@media screen and (max-width: 380px) {
    
    .skill-header{
        flex-direction: column;
    }

    .skill-header div {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .skill-header button {
        width: 100%;
    }

    .skill-header h2 {
        align-self:flex-start;
    }

}

@media screen and (max-width: 360px) {
   
    .contact-list {
        flex-direction: column;
        gap: 15px;
    }
    
    .social-list {
        gap: 15px;
    }

}

.hidden{
    display: none !important;
}